*.pyc
.settings/
.DS_Store
*.tar.bz2
.coverage
htmlcov
.project
.pydevproject
.vscode
tmp/
static/
.idea
*.vscode/
/.sass-cache/
/.externalToolBuilders/
*.jar
.sass-cache
*.map
*.deb
*.png
coverage.txt
.pytest_cache
*.vscode/
npm-debug.log
